<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>User Profile</title>
		<style>
		.message {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.message h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.message input[type="newMessage"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.message input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 1px solid #dddddd;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.message input[type="submit"]:active {
			-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     		-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          	box-shadow: inset 0px 0px 5px #c1c1c1;
   			outline: none;
		}
		.message button {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 1px solid #dddddd;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.message button:active {
			-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     		-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          	box-shadow: inset 0px 0px 5px #c1c1c1;
   			outline: none;
		}
		</style>
	</head>
	<body>
		<div class="message">
			<h1>Logged in as: "<%= userName %>"</h1>
			<h5>Your current message is: "<%= userMessage %>"</h5>
			<form id="message">
				<input type="newMessage" id="newMessage" placeholder="Type here to change your message" required>
				<input type="submit" value="Change message">
			</form>
			<button type='button', id='logoutButton'>Logout</button>

			<script>
				const form = document.getElementById('message');
				const logoutButton = document.getElementById('logoutButton');
				form.addEventListener('submit', updateMessage);
				logoutButton.addEventListener('click', logout);

				//Sends a POST request to update user's message in the database
				async function updateMessage(event) {
					const newMessage = document.getElementById('newMessage').value;

					const result = await fetch('/api/profile', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							message: newMessage
						})
					}).then((res) => res.json());
					
					if(result.status === 'ok') {
						alert('Successfully updated message');
					} else {
						alert(result.error);
					}
				}

				//Sends a POST request to clear user's cookies and logout
				async function logout(event) {
					const result = await fetch ('/api/logout', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						}
					}).then((res) => res.json());

					if(result.status === 'ok') {
						alert('Successfully logged out');
						location.href = '/';
					}
				}
			</script>
		</div>
	</body>
</html>